@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap');

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	position: relative;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	background-color: #ffffff;
	position: relative;
	height: 100%;
	overflow-x: hidden;
}

.container {
	max-width: 1320px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.btn {
	border-radius: 50px;
	padding: 21px 28px;
	font-size: 18px;
	font-weight: 600;
	background-color: #cbfd7b;
	border: none;
	display: flex;
	align-items: center;
	border: 1px solid transparent;
	text-align: center;
	font-family: 'Inter', serif;
	transition: all 0.4s ease;
	cursor: pointer;
}

.btn:hover {
	border: 1px solid #cbfd7b;
	background-color: transparent;
}

.btn:active {
	opacity: 0.6;
}

.site-title {
	font-family: 'Syne',serif;
	font-weight: 600;
	font-size: 60px;
	line-height: 1.2;
	color: #2C2F33;
}


.site-title span {
	color: #00a8b4;
}

.site-text {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.5;
	color: #fff;
}

.site-header {
	background-color: #fff;
	padding-top: 35px;
	padding-bottom: 35px;
}

.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
}

.site-logo:hover {
	opacity: 0.8;
}

.site-logo:active {
	opacity: 0.6;
}

.site-logo img {
	width: 140px;
	height: 45px;
	object-fit: cover;
}

.site-nav {
	display: flex;
	align-items: center;
}

.site-nav__item:not(:last-child) {
	margin-right: 30px;
}

.site-nav__link {
	font-family: 'Inter', serif;
	color: #2c2f33;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.5;
	text-decoration: none;
	transition: all 0.4s ease;
}

.site-nav__link:hover {
	color: aqua;
}

.site-nav__link:active {
	opacity: 0.6;
}

.hamburger-icon {
	border: none;
	background-color: transparent;
	cursor: pointer;
	display: none;
}

.site-nav__header {
	display: none;
}

.main-content {
	flex-grow: 1;
}

.hero {
	background-color: #00a8b4;
	padding-top: 116px;
	padding-bottom: 116px;
	color: #fff;
}

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__info {
	max-width: 650px;
	width: 100%;
	margin-right: 20px;
}

.hero__title {
	color: #fff;
	font-weight: 500;
	margin-bottom: 37px;
	font-family: 'Syne', serif;
	line-height: 1.3;
}

.hero__title span {
	color: #cbfd7b;
}

.hero__text {
	margin-bottom: 49px;
}

.hero__right {
	position: relative;
	max-width: 542px;
	width: 100%;
	background-color: #2c2f33;
	border-radius: 30px;
	padding: 30px;
}

.emblem {
	width: 162px;
	height: 162px;
	position: absolute;
	top: -52px;
	right: -23px;
	z-index: 2;
	margin: 0 auto;
	border-radius: 50%;
	font-weight: bold;
	color: #003a6f;
	animation: spinZ 20s linear infinite;
	text-align: center;
}

.emblem span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform-origin: 0 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

@keyframes spinZ {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

.breaking-down {
	position: absolute;
	top: -52px;
	right: 30px;
	z-index: 3;
}

.hero__right-img {
	position: relative;
	z-index: 1;
	margin-bottom: 31px;
	width: 481px;
	height: 366px;
	object-fit: cover;
}

.hero__right-text {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.5;
}

/* doing-well START */
.doing-well {
	padding-top: 140px;
	padding-bottom: 140px;
}

.doing-well__info {
	max-width: 758px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 50px;
}

.doing-well__title {
	margin-bottom: 20px;
}


.doing-well__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #2c2f33;
}
/* doing-well END */
/* SWIPER */
.mySwiper {
	margin-left: 30px;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	font-size: 18px;
	background: #fff;
}

.swiper-slide img {
	display: block;
	object-fit: cover;
}

.swiper-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 300px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.swiper-pagination-bullet {
	background: rgba(0, 168, 180, 0.4);

}

.swiper-pagination-bullet-active {
	background: rgba(0, 168, 180, 0.4);
}

.swiper-pagination1 {
	width: auto !important;
	margin-left: 23px;
	margin-right: 23px;
	cursor: pointer;
}

.swiper-button-next1 {
	width: 35px;
	height: 35px;
	background-color: #00a8b4;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.swiper-button-prev1 {
	width: 35px;
	height: 35px;
	background-color: #00a8b4;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.doing-good {
	background-color: #f5f5f5;
	padding: 20px 17px;
	border-radius: 30px;
	min-height: 332px;
}

.doing-good__info {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.doing-good__img {
	width: 86px;
	height: 80px;
	object-fit: contain;
	margin-right: 20px;
}

.doing-good__inner {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}

.doing-good__inner-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.5;
	color: #2c2f33;
}

.doing-good__inner-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

.doing-good__text {
	color: #2c2f33;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
/* SWIPER END */

/* MARQUEE START */
.marquee {
	display: flex;
	justify-content: flex-start;
	background-color: #cbfd7b;
	overflow: hidden;
	padding-top: 26px;
	padding-bottom: 26px;
}

.marquee__title-wrapper {
	display: flex;
}


.marquee__title-wrapper img {
	margin-left: 20px;
}

.marquee__title-wrapper h2 {
	font-weight: 400;
	font-size: 18px;
	color: #2c2f33;
	line-height: 1.5;
	text-transform: uppercase;
	-webkit-text-stroke-width: 0.1px;
	-webkit-text-stroke-color: #2c2f33;
	text-stroke-color: #2c2f33;
	white-space: nowrap;
	padding: 0 10px;
	margin-right: 20px;
	animation: movi-rtl 6000ms linear infinite;
}

@keyframes movi-rtl {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}
/* MARQUEE END */
/* Button */

.meet__item-title {
	display: flex;
	align-items: start;
	justify-content: start;
	flex-direction: column;
}
.meet__btn-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.meet__btn {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 9px 10px;
	border-radius: 20px;
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	transition: background-color 0.4s, opacity 0.4s;
	cursor: pointer;
}

.meet__btn:hover {
	background-color: rgb(9, 58, 165);
	opacity: 0.8;
}

/* Meet Section */
.meet-wrapper {
	padding-top: 140px;
	padding-bottom: 140px;
	text-align: center;
}

.meet__title-text {
	max-width: 768px;
	margin: 0 auto;
	margin-bottom: 20px;
}


.meet__text {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #2c2f33;
	max-width: 768px;
	margin: 0 auto;
}

.meet__info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	padding: 50px 0;
	margin: 0 auto;
}

.meet__item {
	position: relative;
	max-width: 300px;
	width: 100%;
	border-radius: 30px;
	background-color: #00a8b4;
	padding: 20px;
	margin: 0 auto;
}

.meet__list {
	position: relative;
}

.meet__list-img {
	width: 100%;
	height: auto;
	border-radius: 20px;
	object-fit: cover;
}

.meet__star-wrapper {
	position: absolute;
	top: 10px;
	left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	background-color: #2c2f33;
	color: #fff;
	padding: 10px;
}

.meet__number {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
}

.meet__numbe {
	margin-right: 2px;
	font-weight: 400;
	font-size: 16px;
	font-family: 'Inter',serif;
}

.meet__item-text {
	font-family: 'Inter', sans-serif;
	font-size: 25px;
	font-weight: 500;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

.meet__vector {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #cbfd7b;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.meet__bootom-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.meet__bootom-btn img {
	margin-left: 63px;
}

/* FORM  */
.site-section-top {
	display: flex;
	justify-content: space-between;
}

.site-section {
	background-color: #2c2f33;
	padding-top: 141px;
	padding-bottom: 145px;
}

.site-section__left {
	max-width: 611px;
	width: 100%;
	margin-right: 139px;
}

.site-section__left-title {
	font-weight: 600;
	font-size: 60px;
	line-height: 1.17;
	color: #ffffff;
	padding-bottom: 20px;
}

span {
	color: #cbfd7b;
}

.site-section__left-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.51;
	color: #ffffff;
	margin-bottom: 134px;
}

.site-section__left-img {
	width: 98px;
	height: 98px;
}

.site-section__forma {
	max-width: 500px;
	width: 100%;
}

.site-section__forma-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.51;
	color: #cbfd7b;
	margin-bottom: 29px;
}

input {
	max-width: 478px;
	width: 100%;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 30px;
	display: flex;
	margin-bottom: 10px;
	border-radius: 50px;
	border: none;
	color: #2c2f33;
}

.site-section__forma-btn {
	padding: 21px 84px 21px 84px;
	border: none;
	border-radius: 50px;
	background-color: #cbfd7b;
	color: #2c2f33;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.4s ease;
}

.site-section__forma-btn:hover {
	border: 1px solid #cbfd7b;
	color: #cbfd7b;
	background-color: transparent;
}

.site-section__forma-btn:active {
	opacity: 0.6;
}

.site-footer {
	background-color: #2c2f33;
	padding-top: 141px;
	padding-bottom: 21px;
}

.site-footer__container {
	display: flex;
	align-items: center;
	justify-content: center;
}
/* FORM END */

/* How it works */
.how-it-works {
	padding-top: 140px;
	padding-bottom: 140px;
	background-color: #fff;
}

.how-it-works__info {
	max-width: 758px;
	width: 100%;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.how-it-works__info-title {
	margin-bottom: 20px;
}

.span-blue {
	color: #00a8b4;
}

.how-it-works__info-text {
	font-family: 'Inter',serif;
	font-size: 16px;
	font-weight: 400;
}

.how-it-works__list {
	display: grid;
    grid-template-columns: repeat(4, 1fr);
	margin-bottom: 50px;
}

.how-it-works__list-item:not(:last-child) {
	margin-right: 50px;
}

.how-it-works__list-item-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 61px;
	height: 61px;
	background-color: #2C2F33;
	border-radius: 50%;
	color: #fff;
	margin-bottom: 13px;
}

.how-it-works__list-item-text {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	color: #2C2F33;
}

.how-it-works__btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn__img {
	margin-left: 63px;
}
/* About start */
.about {
	padding-top: 145px;
	padding-bottom: 145px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #00a8b4;
}
.about__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.about__header-info {
	max-width: 568px;
	width: 100%;
}
.about__header-info-title {
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 19px;
	color: white;
}
.span-green {
	color: #cbfd7b;
}
.about__header-info-text {
	font-size: 16px;
	font-weight: 500;
	color: white;
}
.about__header-img {
	border-radius: 50px;
	width: 632px;
	height: 431px;
	object-fit: cover;
}

.about__footer {
	display: flex;
	align-items: center;
	background-color: #cbfd7b;
	border-radius: 50px;
	padding: 20px 12px;
}

.about__footer-img {
	width: 67px;
	height: 70px;
	object-fit: contain;
	margin-right: 8px;
}

.about__footer-text {
	max-width: 589px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
}
/* About end */

/* MEDIA */
@media screen and (max-width: 1400px) {
	.emblem {
		width: 100px;
		height: 100px;
		top: 0;
		right: 52px;
	}

	.emblem span {
		font-size: 13px;
	}

	.breaking-down {
		width: 100px;
		top: -24px;
		right: 52px;
	}
}
@media screen and (max-width: 1024px) {
	.site-title {
		font-size: 50px;
	}

	.hero {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.hero__container {
		justify-content: center;
		flex-direction: column-reverse;
	}

	.hero__info {
		max-width: 98%;
		margin-right: 0;
	}

	.hero__title {
		margin-bottom: 32px;
	}

	.hero__text {
		margin-bottom: 42px;
	}

	.hero__right {
		max-width: 98%;
		width: 100%;
		border-radius: 30px;
		padding: 30px;
		margin-bottom: 30px;
	}

	.hero__right-img {
		margin-bottom: 30px;
		width: inherit;
		height: inherit;
	}

	.hero__right-text {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.5;
	}

	.btn {
		padding: 18px 24px 18px 24px;
		font-size: 18px;
	}

	.how-it-works__info {
		margin-bottom: 45px;
		max-width: 730-px;
	}

	.how-it-works__info-title {
		margin-bottom: 18px;
	}

	.how-it-works__list {
		margin-bottom: 45px;
	}

	.how-it-works__list-item-circle {
		width: 55px;
		height: 55px;
	}

	.btn__img {
		margin-left: 50px;
	}

	.about {
		padding-top: 140px;
		padding-bottom: 140px;
	}

	.about__header {
		margin-bottom: 20px;
	}

	.about__header-info-title {
		font-size: 50px;
		margin-bottom: 18px;
	}

	.about__header-img {
		width: 450px;
		height: 431px;
		object-fit: cover;
	}


	.about__footer-img {
		width: 50px;
		height: 60px;
	}

	.about__footer-text {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.site-header {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.site-nav {
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(36, 42, 69, 0.9);
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transform: translateX(100%);
		transition: transform 0.4s ease-in-out;
		z-index: 99999;
		overflow-x: hidden;
	}

	.site-nav__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.site-nav__header-link {
		margin-right: 40px;
	}

	.site-nav__header-btn {
		position: absolute;
		top: 20px;
		right: 30px;
		background-color: transparent;
		border: none;
	}

	.site-nav__item:not(:last-child) {
		margin-right: 0;
	}

	.site-nav__item {
		padding-top: 24px;
		padding-bottom: 24px;
		text-align: center;
		max-width: 309px;
		width: 100%;
	}

	.site-nav__link {
		color: #fff;
		font-size: 20px;
		letter-spacing: 2.3px;
	}

	.site-nav.active {
		transform: translateX(0);
	}


	.hamburger-icon {
		display: block;
	}

	.site-title {
		font-size: 48px;
	}

	.site-nav__link {
		font-size: 16px;
	}

	.hero {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.hero__title {
		margin-bottom: 24px;
	}

	.hero__text {
		margin-bottom: 28px;
	}

	.hero__right-img {
		margin-bottom: 28px;
	}

	.hero__right-text {
		font-size: 18px;
	}

	.btn {
		padding: 15px 20px 15px 20px;
		font-size: 15px;
	}

	.doing-well {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.doing-well__info {
		margin-bottom: 40px;
	}

	.doing-well__title {
		margin-bottom: 18px;
	}

	.doing-well__text {
		font-size: 16px;
	}

	.meet-wrapper {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.site-section-top {
		flex-direction: column;
	}
	.site-section__left {
		max-width: 98%;
		margin-right: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}

	.site-section__left-title {
		display: flex;
		text-align: center;
		flex-direction: column;
		font-size: 50px;
	}

	.site-section__left-text {
		text-align: center;
		font-size: 17px;
		line-height: 1.5;
		margin-bottom: 10px;
	}

	.site-section__forma-text {
		text-align: center;
	}

	.site-section__forma-btn {
		padding: 21px 70px 20px 70px;
	}

	.how-it-works {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.how-it-works__info {
		margin-bottom: 35px;
		max-width: 710px;
	}
	.how-it-works__info-title {
		margin-bottom: 16px;
	}

	.how-it-works__list {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 24px;
	}
	
	.how-it-works__list-item:not(:last-child) {
		margin-right: 0px;
	}

	.how-it-works__list-item:nth-child(1) {
		margin-bottom: 20px;
		margin-right: 16px;
	}

	.how-it-works__list-item:nth-child(2) {
		margin-bottom: 20px;
	}

	.how-it-works__list-item:nth-child(3) {
		margin-right: 16px;
	}

	.how-it-works__list-item-circle {
		width: 50px;
		height: 50px;
	}
	.how-it-works__list-item-text {
		font-size: 16px;
	}

	.btn__img {
		margin-left: 40px;
	}

	.about {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.about__header {
		justify-content: center;
		flex-direction: column-reverse;
		margin-bottom: 20px;
	}

	.about__header-info {
		max-width: 98%;
	}

	.about__header-info-title {
		font-size: 48px;
	}

	.about__header-img {
		width: 98%;
		height: inherit;
	}

	.about__footer {
		border-radius: 50px;
		padding: 16px 12px;
	}

	.about__footer-img {
		width: 40px;
		height: 40px;
	}

	.about__footer-text {
		font-size: 12px;
	}

	.meet__bootom-btn img {
		margin-left: 36px;
	}

	.meet__vector {
		width: 36px;
		height: 36px;
		right: 10px;
		bottom: 10px;
	}

	.meet__item-text {
		font-size: 18px;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.meet__item {
		padding: 16px;
	}

	.meet__btn {
		margin-bottom: 8px;
		margin-right: 8px;
		padding: 8px 8px;
	}

	
	.emblem span {
		display: inline-block;
	}

	.breaking-down {
		width: 60px;
		top: -27px;
		right: 65px;
	}

	.site-footer {
		padding-top: 80px;
	}
}

@media screen and (max-width: 600px) {
	.meet__title-text {
		margin-bottom: 16px;
	}

	.site-title {
		font-size: 36px;
	}

	.site-section {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.site-section__left {
		margin-right: 0px;
	}

	.site-section__left-title {
		font-size: 50px;
		line-height: 1.1;
	}

	.site-section__left-text {
		font-size: 15px;
		margin-bottom: 30px;
	}

	.site-section__forma-text {
		font-size: 14px;
		line-height: 1.5;
	}

	input {
		max-width: 98%;
		margin-bottom: 15px;
	}

	.meet__btn {
		font-size: 14px;
	}

	
}

@media screen and (max-width: 480px) {
	
     body {
	   font-size: 14px;
    }

	.site-title {
		font-size: 32px;
	}

	.site-text {
		font-size: 14px;
	}

	.meet__numbe {
		font-size: 14px;
	}

	.meet__item-text {
		font-size: 16px;
	}

	.meet__number {
		font-size: 14px;
	}

	.meet__star {
		width: 12px;
		height: 12px;
	}
	
	.doing-good__text {
		font-size: 14px;
	}

	.mySwiper {
		margin-left: 20px;
	}

	.doing-well {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.doing-well__info {
		margin-bottom: 30px;
	}

	.doing-well__title {
		margin-bottom: 16px;
	}

	.doing-well__text {
		font-size: 14px;
	}

	.meet-wrapper {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.site-logo img {
		width: 100px;
		height: 45px;
		object-fit: contain;
	}

	.hero {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.hero__title {
		margin-bottom: 16px;
	}

	.hero__text {
		margin-bottom: 16px;
	}

	.hero__right-img {
		margin-bottom: 16px;
	}

	.hero__right-text {
		font-size: 16px;
	}

	.btn {
		padding: 12px 16px 12px 16px;
		font-size: 15px;
	}


	.site-section {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.site-section__left {
		max-width: 98%;
		margin-left: auto;
		margin-right: auto;
	}

	.site-section__left-title {
		font-size: 35px;
	}

	.site-section__left-text {
		font-size: 12px;
		margin-bottom: 20px;
	}

	.site-section__left-img {
		width: 80px;
		height: 80px;
	}

	.site-section__forma {
		max-width: 98%;
	}

	.site-section__forma-text {
		font-size: 10px;
	}

	input {
		max-width: 98%;
	}

	.site-section__forma-btn {
		padding: 15px 60px 15px 60px;
	}

	.how-it-works {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.how-it-works__info {
		margin-bottom: 35px;
		max-width: 500px;
	}
	.how-it-works__info-title {
		margin-bottom: 16px;
	}

	.how-it-works__info-text {
		font-size: 14px;
	}
	
	.how-it-works__list {
		grid-template-columns: repeat(1, 1fr);
		margin-bottom: 20px;
	}

	.how-it-works__list-item {
		display: flex;
	}
	
	.how-it-works__list-item:not(:last-child) {
		margin-right: 0px;
	}

	.how-it-works__list-item:nth-child(1) {
		margin-bottom: 0px;
		margin-right: 0px;
	}

	.how-it-works__list-item:nth-child(2) {
		margin-bottom: 0px;
	}

	.how-it-works__list-item:nth-child(3) {
		margin-right: 0px;
	}

	.how-it-works__list-item:not(:last-child) {
		margin-bottom: 14px;
	}

	.how-it-works__list-item-circle {
		width: 40px;
		height: 40px;
		font-size: 15px;
		flex-shrink: 0;
		margin-right: 10px;
	}
	.how-it-works__list-item-text {
		font-weight: 500;
		font-size: 14px;
	}

	.btn__img {
		margin-left: 30px;
		width: 25px;
	}

	.about {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.about__header-info-title {
		font-size: 36px;
	}

	.about__header-info-text {
		font-size: 14px;
	}

	.about__footer-img {
		display: none;
	}

	.site-footer {
		padding-top: 40px;
	}

}

@media only screen and (max-width: 350px) {
	.site-title {
		font-size: 28px;
	}

	.meet__title-text {
		margin-bottom: 12px;
	}

	.site-section {
		padding-top: 90px;
		padding-bottom: 90px;
	}

	.site-section__left-title {
		font-size: 30px;
	}

	.site-section__left-text {
		font-size: 12px;
		margin-bottom: 15px;
	}

	.site-section__left-img {
		width: 70px;
		height: 70px;
		margin-bottom: 10px;
	}

	.site-section__forma {
		max-width: 98%;
	}

	.site-section__forma-text {
		font-size: 9px;
	}

	input {
		max-width: 98%;
	}

	.site-section__forma-btn {
		padding: 10px 48px 10px 48px;
	}
}
